<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
     <!--设置但JDBC类型为空时,某些驱动程序 要指定值,default:OTHER --> 

    <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <!-- 命名空间 -->
    <typeAliases>
         <typeAlias alias="User" type="com.platform.model.User"/>  
         <typeAlias alias="page" type="com.platform.model.PageBean"/> 
         <typeAlias alias="count" type="com.platform.model.Count"/> 
         <typeAlias alias="queryParameter" type="com.platform.model.QueryParameter"/>
         <typeAlias alias="modelData" type="com.platform.model.ModelData"/>
         <typeAlias alias="modelData1" type="com.platform.report.send.DATA1"/>
         <typeAlias alias="modelData2" type="com.platform.report.send.DATA2"/>
         <typeAlias alias="modelData3A" type="com.platform.report.send.DATA3A"/>
         <typeAlias alias="modelData3B" type="com.platform.report.send.DATA3B"/>
         <typeAlias alias="modelData5A" type="com.platform.report.send.DATA5A"/>
         <typeAlias alias="modelData5B" type="com.platform.report.send.DATA5B"/>
         <typeAlias alias="modelData7" type="com.platform.report.send.DATA7"/>
         <typeAlias alias="modelData8" type="com.platform.report.send.DATA8"/>
         
    </typeAliases>
 
    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>