<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.dao.FeatureDao">

	<insert id="insertFeature" parameterType="Feature" keyProperty="id">
		insert into t_feature (id,name)
		values
		(s_feature.nextval,#{name})
	</insert>
	
	<update id="updateFeature" parameterType="Feature">
		update t_feature set name=#{name} where id=#{id}
	</update>
	
	<select id="findAllFeature" resultType="Feature"> 
        select rownum as rn,t.* from t_feature t order by t.id asc
    </select> 
    
    <select id="countFeature" resultType="count">
    	select count(*) as recordCount from t_feature
    </select>
    <select id="findFeaturesByPage" resultType="Feature" parameterType="page">
    	select id,name from 
    	(select rownum as rn,t.* from t_feature t where rownum &lt; = #{P1} order by id asc)
    	 where rn  &gt; #{P2}
    </select>
    
    <select id="findFeaturesByName" parameterType="String" resultType="Feature">
    	select id,name from t_feature t where 
    	t.name = #{name}
    </select>
    
    <select id="findFeatureById" parameterType="int" resultType="Feature">
    	select * from t_feature where id=#{id}
    </select>
    
    <delete id="deleteFeature" parameterType="int">
    	delete t_feature where id=#{id}
    </delete>
    
    
</mapper>