<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.dao.ModelDao">

	<insert id="insertModel" parameterType="Model" keyProperty="id">
		insert into t_models (id,name)
		values
		(s_model.nextval,#{name})
	</insert>
	
	<update id="updateModel" parameterType="Model">
		update t_models set name=#{name} where id=#{id}
	</update>
	
	<select id="findAllModel" resultType="Model"> 
        select rownum as rn,t.* from t_models t order by t.id asc
    </select> 
    
    <select id="countModel" resultType="count">
    	select count(*) as recordCount from t_models
    </select>
    <select id="findModelsByPage" resultType="Model" parameterType="page">
    	select id,name from 
    	(select rownum as rn,t.* from t_models t where rownum &lt; = #{P1} order by id asc)
    	 where rn  &gt; #{P2}
    </select>
    
    <select id="findModelsByName" parameterType="String" resultType="Model">
    	select id,name from t_models t where 
    	t.name = #{name}
    </select>
    
    <select id="findModelById" parameterType="int" resultType="Model">
    	select * from t_models where id=#{id}
    </select>
    
    <delete id="deleteModel" parameterType="int">
    	delete t_models where id=#{id}
    </delete>
    
    
</mapper>