<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.dao.ModelDataDao">

	<insert id="insertData1" parameterType="modelData1">
		insert into modeldata (dataindex,date1,cy,dt,mt,sim,stype,time1,it1,it2,it3,it4,it5,
		if1,if2,if3,if4,if5,if6,if7,if8,if9,if10,if11,if12,if13,
		out1,out2,out3,out4)
		values
		(#{dataindex},#{date1},#{cy},#{dt},#{mt},#{sim},#{stype},#{time1},#{dt},#{type2},#{type3},#{mt},#{sim},
		#{speed},#{ang},#{fre},#{bre},#{cre},#{distence},#{ang1},#{ang2},#{time},#{cy1},#{ss},#{ang3},#{ang4},
		#{out1},#{out2},#{out3},#{out4})
	</insert>
	
	<insert id="insertData1B" parameterType="modelData1">
		insert into modeldata (dataindex,date1,cy,dt,mt,sim,stype,time1,
		if1,if2,if3,if4,if5,if6,if7,
		out1,out2,out3,out4)
		values
		(#{dataindex},#{date1},#{cy},#{dt},#{mt},#{sim},#{stype},#{time1},
		#{speed},#{ang},#{fre},#{bre},#{cre},#{distence},
		#{out1},#{out2},#{out3},#{out4})
	</insert>
    
    <insert id="insertData2" parameterType="modelData2">
		insert into modeldata (dataindex,date1,cy,dt,mt,sim,stype,time1,it1,it2,it3,it4,it5,
		if1,if2,if3,if4,if5,if6,if7,if8,if9,if10,if11,if12,if13,if14,if15,if16,if17,if18,if19,if20,if21,if22,if23,if24,if25,
		if26,if27,if28,if29,if30,if31,if32,if33,if34,if35,if36,if37,if38,if39,if40,if41,if42,if43,if44,if45,if46,if47,if48,if49,
		if50,if51,if52,if53,if54,if55,if56,if57,if58,if59,if60,if61,if62,if63,if64,if65,if66,if67,if68,if69,if70,if71,if72,if73,
		if74,if75,if76,if77,if78,if79,if80,if81,if82,if83,if84,if85,if86,if87,if88,if89,if90,if91,if92,if93,if94,if95,if96,if97,
		if98,if99,if100,if101,if102,if103,if104,if105,if106,if107,if108,if109,if110,if111,if112,if113,if114,if115,if116,if117,if118,
		if119,if120,if121,if122,if123,if124,if125,if126,if127,if128,if129,if130,if131,if132,if133,if134,if135,if136,if137,if138,if139,
		if140,if141,if142,if143,if144,if145,if146,if147,if148,if149,if150,if151,if152,if153,if154,if155,if156,if157,if158,if159,if160,
		if161,if162,
		out1,out2,out3,out4)
		values
		(#{dataindex},#{date1},#{cy},#{dt},#{mt},#{sim},#{stype},#{time1},#{type1},
		<foreach collection="type2" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		#{speed1},#{speed2},#{jz},
		<foreach collection="d1" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		<foreach collection="d2" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,#{num1},#{pu1},#{pu2},
		<foreach collection="wind" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		<foreach collection="fspeed" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,#{depth},#{speed3},
		<foreach collection="d3" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,#{pu3},#{pu4},#{num2},
		<foreach collection="ang1" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		<foreach collection="ang2" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		<foreach collection="ang3" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		<foreach collection="ang4" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,#{ss},
		<foreach collection="loc" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		<foreach collection="speed" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,#{lm1},#{cy1},
		<foreach collection="fre1" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		<foreach collection="dk1" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,#{mk1},
		<foreach collection="slocx" item="item" separator="," >
			<foreach collection="item" item="item1" separator="," >
			#{item1,jdbcType=REAL}
		</foreach>
		</foreach>,
		#{out1},#{out2},#{out3},#{out4})
	</insert>
	
	<insert id="insertData3A" parameterType="modelData3A">
		insert into modeldata (dataindex,date1,cy,dt,mt,sim,stype,time1,it1,it2,it4,
		if1,if2,if3,if4,if5,if6,if7,if8,if9,if10,if11,if12,if13,if14,if15,if16,
		out1,out2,out3,out4)
		values
		(#{dataindex},#{date1},#{cy},#{dt},#{mt},#{sim},#{stype},#{time1},#{type1},#{type2},#{mt},
		#{weight},#{depth},#{speed},
		<foreach collection="fre1" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,#{cy1},#{zy1},#{lm1},#{num},#{ss},
		<foreach collection="fre2" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,#{time1},#{time2},#{zy2},#{lm2},
		#{out1},#{out2},#{out3},#{out4})
	</insert>
	
	<insert id="insertData3B" parameterType="modelData3B">
		insert into modeldata (dataindex,date1,cy,dt,mt,sim,stype,time1,it1,it2,it4,
		if1,if2,if3,if4,if5,if6,if7,if8,if9,if10,if11,if12,if13,if14,if15,if16,if17,if18,if19,if20,if21,if22,if23,if24,if25,
		if26,if27,if28,if29,if30,if31,if32,if33,if34,if35,if36,if37,if38,if39,if40,if41,if42,if43,if44,if45,if46,if47,if48,if49,
		if50,if51,if52,if53,if54,if55,if56,if57,if58,if59,if60,if61,if62,if63,if64,if65,if66,if67,if68,if69,if70,if71,if72,
		out1,out2,out3,out4)
		values
		(#{dataindex},#{date1},#{cy},#{dt},#{mt},#{sim},#{stype},#{time1},#{type1},#{type2},#{mt},
		#{weight},#{depth},#{speed},
		<foreach collection="fre1" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,#{cy1},#{zy1},#{lm1},#{num1},#{ss},#{fre2},#{num2},
		<foreach collection="xp1" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		<foreach collection="xp2" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		<foreach collection="de" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		#{out1},#{out2},#{out3},#{out4})
	</insert>
	
	<insert id="insertData5A" parameterType="modelData5A">
		insert into modeldata (dataindex,date1,cy,dt,mt,sim,stype,time1,it1,it2,it4,
		if1,if2,if3,if4,if5,if6,if7,if8,if9,if10,if11,if12,if13,if14,if15,if16,if17,if18,if19,if20,if21,if22,if23,if24,if25,
		if26,if27,if28,if29,if30,if31,if32,if33,if34,if35,if36,if37,if38,if39,if40,if41,if42,if43,if44,if45,if46,if47,if48,if49,
		if50,if51,if52,if53,if54,if55,if56,if57,if58,if59,if60,if61,if62,if63,if64,
		out1,out2,out3,out4)
		values
		(#{dataindex},#{date1},#{cy},#{dt},#{mt},#{sim},#{stype},#{time},#{type1},#{type2},#{mt},
		#{weight},#{depth},#{speed},
		<foreach collection="fre1" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,#{cy1},#{zy1},#{lm1},#{num},#{ss},
		<foreach collection="fre2" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,#{time1},#{time2},#{zy2},#{lm2},
		<foreach collection="rela" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		#{out1},#{out2},#{out3},#{out4})
	</insert>
	
	<insert id="insertData5B" parameterType="modelData5B">
		insert into modeldata (dataindex,date1,cy,dt,mt,sim,stype,time1,it1,it2,it4,
		if1,if2,if3,if4,if5,if6,if7,if8,if9,if10,if11,if12,if13,if14,if15,if16,if17,if18,if19,if20,if21,if22,if23,if24,if25,
		if26,if27,if28,if29,if30,if31,if32,if33,if34,if35,if36,if37,if38,if39,if40,if41,if42,if43,if44,if45,if46,if47,if48,if49,
		if50,if51,if52,if53,if54,if55,if56,if57,if58,if59,if60,if61,if62,if63,if64,if65,if66,if67,if68,if69,if70,if71,if72,if73,
		if74,if75,if76,if77,if78,if79,if80,if81,if82,if83,if84,if85,if86,if87,if88,if89,if90,if91,if92,if93,if94,if95,if96,if97,
		if98,if99,if100,if101,if102,if103,if104,if105,if106,if107,if108,if109,if110,if111,if112,
		if113,if114,if115,if116,if117,if118,if119,if120,
		out1,out2,out3,out4)
		values
		(#{dataindex},#{date1},#{cy},#{dt},#{mt},#{sim},#{stype},#{time1},#{type1},#{type2},#{mt},
		#{weight},#{depth},#{speed},
		<foreach collection="fre1" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,#{cy1},#{zy1},#{lm1},#{num1},#{ss},#{fre2},#{num2},
		<foreach collection="xp1" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		<foreach collection="xp2" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		<foreach collection="de" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		<foreach collection="rela" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		#{out1},#{out2},#{out3},#{out4})
	</insert>
	
	<insert id="insertData7" parameterType="modelData7">
		insert into modeldata (dataindex,date1,cy,dt,mt,sim,stype,time1,
		if1,if2,if3,if4,if5,if6,if7,if8,if9,if10,if11,if12,if13,if14,if15,if16,if17,if18,if19,if20,if21,if22,if23,if24,if25,
		if26,if27,if28,if29,if30,if31,if32,if33,if34,if35,if36,if37,if38,if39,if40,if41,if42,if43,if44,if45,if46,if47,if48,if49,
		if50,if51,if52,if53,if54,if55,if56,if57,if58,if59,if60,if61,if62,if63,if64,if65,if66,
		out1,out2,out3,out4)
		values
		(#{dataindex},#{date1},#{cy},#{dt},#{mt},#{sim},#{stype},#{time1},
		#{wspeed},#{fspeed},#{rain},#{num1},#{len},
		<foreach collection="speed1" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		<foreach collection="speed2" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,#{sspeed},
		#{out1},#{out2},#{out3},#{out4})
	</insert>
	
	<insert id="insertData8" parameterType="modelData8">
		insert into modeldata (dataindex,date1,cy,dt,mt,sim,stype,time1,
		if1,if2,if3,if4,if5,if6,if7,if8,if9,if10,if11,if12,if13,if14,if15,if16,if17,if18,
		out1,out2,out3,out4)
		values
		(#{dataindex},#{date1},#{cy},#{dt},#{mt},#{sim},#{stype},#{time1},
		#{fre},#{wspeed},
		<foreach collection="sead" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,#{ss1},#{ss2},#{len1},#{len2},#{num2},#{len3},
		<foreach collection="cord" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,#{ss3},#{sn},#{dep},
		<foreach collection="frew" item="item" separator="," >
			#{item,jdbcType=REAL}
		</foreach>,
		#{out1},#{out2},#{out3},#{out4})
	</insert>
	
	<delete id="deleteData">
    	delete modeldata where dataindex in 
    	<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
    	#{item,jdbcType=REAL}
    	</foreach>
	</delete>
    
    <select id="findMaxId" resultType="int">
    	SELECT MAX(dataindex) FROM modeldata
    </select>
    
    <select id="querySim" parameterType="queryParameter" resultType="modelData">
    	select dataindex,date1,time1,dt,mt,sim,stype,operator from 
    	(select rownum as rn,t.* from 
    	(select dataindex,date1,time1,dt,mt,sim,stype,operator from modeldata 
    	where dt = #{dt} and mt=#{mt} and sim=#{sim} and stype=#{stype}) 
    	t where rownum &lt; = #{P1} order by t.dataindex asc) 
    	where rn  &gt; #{P2}
    </select>
    
    <select id="querySimById" parameterType="int" resultType="modelData">
    	select * where dataindex=#{id} from modeldata
    </select>
    
    <select id="countModelData" parameterType="queryParameter" resultType="count">
    	select count(*) as recordCount from modeldata 
    	where dt = #{dt} and mt=#{mt} and sim=#{sim} and stype=#{stype}
    </select>
</mapper>