<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.dao.SimDao">

	<insert id="insertSim" parameterType="Simulation" keyProperty="id">
		insert into t_object (id,name)
		values
		(s_object.nextval,#{name})
	</insert>
	
	<update id="updateSim" parameterType="Simulation">
		update t_object set name=#{name} where id=#{id}
	</update>
	
	<select id="findAllSim" resultType="Simulation"> 
        select rownum as rn,t.* from t_object t order by t.id asc
    </select> 
    
    <select id="countSim" resultType="count">
    	select count(*) as recordCount from t_object
    </select>
    <select id="findSimsByPage" resultType="Simulation" parameterType="page">
    	select id,name from 
    	(select rownum as rn,t.* from t_object t where rownum &lt; = #{P1} order by id asc)
    	 where rn  &gt; #{P2}
    </select>
    
    <select id="findSimsByName" parameterType="String" resultType="Simulation">
    	select id,name from t_object t where 
    	t.name = #{name}
    </select>
    
    <select id="findSimById" parameterType="int" resultType="Simulation">
    	select * from t_object where id=#{id}
    </select>
    
    <delete id="deleteSim" parameterType="int">
    	delete t_object where id=#{id}
    </delete>
    
    
</mapper>